---
description: MeterSphere 一站式开源持续测试平台官方文档。MeterSphere 涵盖测试管理、接口测试、UI 测试和性能测试等功能，全面兼容 JMeter、Selenium 等主流开源标准，有效助力开发和测试团队充分利用云弹性进行高度可 扩展的自动化测试，加速高质量的软件交付。
---

## 1 查看报告
!!! ms-abstract "" 
    在【报告】页面查看【场景报告】和【用例报告】。
![!查看测试报告](../../img/api_test/report/查看报告1.png){ width="900px" }

!!! ms-abstract "" 
    点击【报告名称】预览报告详情。
![!查看测试报告](../../img/api_test/report/查看报告2.png){ width="900px" }

!!! ms-abstract "" 
    点击【步骤名称】查看步骤实际请求的响应内容。
![!查看测试报告](../../img/api_test/report/查看报告3.png){ width="900px" }

## 2 分享报告
!!! ms-abstract ""
    在报告详情页面，点击【分享】按钮获取分享链接。报告链接有效期可在 [项目管理-应用设置](../project_management/project_permissions.md#23-接口测试) 处配置。

![!分享报告](../../img/api_test/report/分享报告.png){ width="900px" }

## 3 删除报告
!!! ms-abstract "" 
    点击【删除】按钮删除报告。
![!删除测试报告](../../img/api_test/report/删除报告1.png){ width="900px" }

!!! ms-abstract "" 
    勾选复选框，点击【删除】批量删除报告。
![!删除测试报告](../../img/api_test/report/删除报告2.png){ width="900px" }

!!! ms-abstract "注意" 
    删除报告后无法恢复，请谨慎使用该功能！